html {
    height:100%;
    width:100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    height:100%;
    width:100%;
}

main {
    flex: 1 0 auto;
    height:100%;
    width:100%;
    min-height: 500px;
}

.brand-logo img {
    width: 115px;
    margin-bottom: -8px;
}

.contact-component {
    word-wrap: break-word;
}

.contact-component h6 {
    font-weight: 600;
}

.pogo-breadcrumb {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pogo-collection-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
    display: inline-block;
}

.pogo-page-footer {
    margin-top: 0px!important;
}

.hero-container {
    width: 100%;
    height: 100%;
    background: url("/public/img/boards-background.jpg") no-repeat center center;
    background-size: cover;
}

.hero-container div.valign-wrapper {
    height: 100%;
}

.hero-row {
    width: 100%;
    text-align: center;
}

.hero-card {
    background-color: rgba(84,110,122,.6)!important;
}

